/* general layout */
.site-wrapper {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: #f5f5f5;  
} 
.content-wrapper {
    z-index: 4;
    margin-top: 13rem;
    width: 80%;
    height: calc(100vh - 13rem);
    background: #fff;
    box-shadow: 0px 8px 20px rgb(0 0 0 / 6%);
    border-radius: 8px;
    display: flex;
    align-items: flex-start;
    position: relative;
}

.site-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}
/* form components*/
.form-wrapper {
    width: 280px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #ececfd;
    padding: 1rem;
    border-radius: 10px;
}
.form-group {
    width: 100%;
}

h1 {
    margin: 1rem 0;
}

.pad-left {
    padding-left: 290px
}