header {
    width: 100%;
    position:fixed;
    top:0;
    left:0;
    z-index:1;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.1);
    padding: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
    height: 15rem;
    background: url("../../images/header-bg.jpg") center center no-repeat;
    background-size: 100% auto;
    color: #fff;
}

header::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    z-index: -1;
    background-color: rgba(255,255,255, 0.4);
}

.menu-button {
    width: 10rem;
    margin-top: 1rem;
    z-index: 50;
}