aside {
    display: flex;
    flex-direction: column;
    width: 280px;
    padding: 1rem;
    background-color: #f5f5f5;
    border-right: 1px solid #ccc;
    margin: 0;
    overflow-y: auto;
    position: fixed;
    align-self: start;
    height: 100%;
    border-top-left-radius: 10px;
}
@media (max-width: 1200px) {
    aside.closed {
        width: 0px;
        padding: 0;
    }
}